@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&display=swap');
@import "fonts.css";

:root{
    --second-font: fourteenSegment;
}

@media (prefers-color-scheme: dark) {
    .theme{
        /* --bg-color: #9d2235; razorbacks */
        /* --bg-color: #ec8e32; */
        /* --bg-color: black; */
        --bg-color: red;
        /* --text: red; */
        --text: black;
    }
}

@media (prefers-color-scheme: light) {
    .theme{
        --text: red;
        --bg-color: #909090;
    }
}

.page_icon{
    color: #fff;
}

/* .clock{
   margin-top: 25%;
} */



html{
    display: flex;
    align-items: flex;
    justify-content: center;
    font-family: "Inconsolata";
    font: 20px ;
    height: 100%;
    width: 100%;
    /* background: var(--bg-color); */
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
    background: var(--bg-color);
    color: var(--text);
    margin-top: 25%;
    width: 100%;
}

/* section.clockArea{
    width: 100%;
    align-content: center;
    justify-content: center;
} */

ul{
    list-style-type: none;
    justify-items: flex;
}

div.zone{
    display: flex;
}

li{
    font-weight: bold;
    /* font-size: 2rem; */
    display: inline;
}

/* #clock{
     align-content: center;
    justify-content: center;
    width: 100%; 
    margin-top: calc();
} */

#time{
    font-size:  3rem;
    font-weight: bold;
    font-family: var(--second-font);
}

#date{
    text-align: center;
    font-size: 2rem;
}