@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&display=swap');



@media (prefers-color-scheme: dark) {
    .theme{
        --bg-color: #ba0c2f;
        --text: white;
    }
}

@media (prefers-color-scheme: light) {
    .theme{
        --text: #ba0c2f;
        --bg-color: white;
    }
}

.page_icon{
    color: #fff;
}

/* .clock{
   margin-top: 25%;
} */

html{
    display: flex;
    align-items: flex;
    justify-content: center;
    font-family: "Inconsolata";
    font: 20px ;
    height: 100%;
    /* background: var(--bg-color); */
}

body{
    display: flex;
    justify-content: flex;
    background: var(--bg-color);
    color: var(--text);
    /* margin-top: 25%; */
}

ul{
    list-style-type: none;
    justify-items: flex;
}

div.zone{
    display: flex;
}

li{
    font-weight: bold;
    /* font-size: 2rem; */
    display: inline;
}

#clock{
    width: 100%;
    margin-top: calc();
}

#time{
    font-size: 3rem;
}

#date{
    text-align: center;
    font-size: 1.5rem;
}