

html{
    display: flex;
    align-items: flex;
    justify-content: center;
    font: 20px;
    height: 100%;
}

body{
    margin-top: 25%;
}

ul{
    list-style-type: none;
}

li{
    font-weight: bold;
}

#clock{
    width: 100%;
}

#time{
    font-size: 3rem;
}

#date{
    text-align: center;
    font-size: 1.5rem;
}